.categroy-img{
    max-width: 184px;
    border-radius: 12px;
}

.text-clr{
    color: #125476;
}

.btn-bg {
    background-color: #5dd6c8;

}

@media only screen and (max-width : 640px) {
    .categroy-img{
        max-width: 148px;
    }
}